.column {
    width: 350px;
    float: right;
    border: 3px white solid;
    padding: 10px;
    
    
}

.nice-house {
   width: 200px; 
   height: 200px;
   
}

body {
    background-color: sandybrown;
}

h1 {
    background-color: white;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.red {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: red;
}